<div class="container" id="about">
  <div class="jumbotron main">
    <br />
    <div class="container">
    <h1 id="greeting">Hello</h1><br />
    <p>My name is Simeon and I am a recent computer science graduate and developer living in Chicago.</p>
    <p>I currently work in automation as a Software Testing Analyst, testing a large-scale ecommerce application.</p>
    <p>However, my passion lies in development and I am eager to apply my skills and help build applications that people use every day.</p><br />
    <div class="container col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Skills</h3>
      </div>
      <div class="panel-body">Java, HTML, CSS, Javascript, Ruby on Rails, Android SDK</div>
    </div>
    </div>
    <div class="container col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Education</h3>
      </div>
      <div class="panel-body">Bachelor of Science in Computer Science - Ohio State University</div>
    </div>
    </div>

    <div class="container col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Interests</h3>
      </div>
      <div class="panel-body">Web development, mobile development</div>
    </div>
    </div>
    <div class="container col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Location</h3>
      </div>
      <div class="panel-body">Chicago, IL</div>
    </div>
    </div>
    </div>
  </div> <!-- jumbotron -->
</div>

<div class="container" id="portfolio">
  <h2 class="contrast">Portfolio</h2>
</div>
<hr />

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron tile">
        <h1>Coin</h1>
        <p>Android app for tracking expenses</p>
	<p class="text-center">
      <%= link_to 'View on GitHub', "https://github.com/simeonge/expensereport", class: "btn btn-lg btn-info", type: "button", data: {no_turbolink: true}, target: "_blank" %>
      <a type="button" href="https://play.google.com/store/apps/details?id=com.simgeoapps.expensereport" target="_blank">
	<img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
      </a>
    </p>
      </div>
    </div> <!-- col -->
    <div class="col-md-6">
      <div class="jumbotron tile">
        <h1>Sudoku Solver</h1>
        <p>Written in Ruby</p>
	<p class="text-center">
	  <%= link_to 'View on GitHub', "https://github.com/simeonge/simgorapps/blob/master/lib/sudoku_solver.rb", class: "btn btn-lg btn-info", type: "button", data: {no_turbolink: true}, target: "_blank" %>
	  <a type="button" class="btn btn-lg btn-info" id="sudokuOverlay">Demo</a>
	</p>
      </div>
    </div> <!-- col -->
    <div class="smodal">
      <div class="scntr">
      <h2 class="text-center">Choose sudoku puzzle</h2>
  <p class="text-center">
    <a id="ez" type="button" class="btn btn-lg btn-primary">Easy</a>
    <a id="md" type="button" class="btn btn-lg btn-warning">Medium</a>
    <a id="df" type="button" class="btn btn-lg btn-danger">Difficult</a>
    <a id="cg" type="button" class="btn btn-lg btn-info">Clear grid</a>
  </p>
  <table class="table table-bordered">
    <tbody>
      <tr>
	<td class="tb lb"><div><input maxlength="1" /></div></td>
	<td class="tb"><div><input maxlength="1" /></div></td>
	<td class="tb rb"><div><input maxlength="1" /></div></td>
	<td class="tb"><div><input maxlength="1" /></div></td>
	<td class="tb"><div><input maxlength="1" /></div></td>
	<td class="tb rb"><div><input maxlength="1" /></div></td>
	<td class="tb"><div><input maxlength="1" /></div></td>
	<td class="tb"><div><input maxlength="1" /></div></td>
	<td class="tb rb"><div><input maxlength="1" /></div></td>
      </tr>
      <tr>
	<td class="lb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
      </tr>
      <tr>
	<td class="lb bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="bb rb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="bb rb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="bb rb"><div><input maxlength="1" /></div></td>
      </tr>
      <tr>
	<td class="lb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
      </tr>
      <tr>
	<td class="lb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
      </tr>
      <tr>
	<td class="lb bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="rb bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="rb bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="rb bb"><div><input maxlength="1" /></div></td>
      </tr>
      <tr>
	<td class="lb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
      </tr>
      <tr>
	<td class="lb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
      </tr>
      <tr>
	<td class="lb bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="rb bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="rb bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="rb bb"><div><input maxlength="1" /></div></td>
      </tr>
    </tbody>
  </table>
  <form accept-charset="UTF-8" action="/portfolio/sudoku" data-remote="true" method="post" id="sform">
  <p class="text-center">
    <input type="hidden" id="puzzle" name="puzzle" />
    <input type="submit" value="Solve!" id="slv" class="btn btn-lg btn-success" />
  </p>
  </form>
  </div>
    </div>
  </div> <!-- row -->
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron tile">
        <h1>Interpreter</h1>
        <p>Written in Java</p>
	<p class="text-center">
	  <%= link_to 'View on GitHub', "https://github.com/simeonge/coreinterpreter", class: "btn btn-lg btn-info", type: "button", data: {no_turbolink: true}, target: "_blank" %>
	</p>
      </div>
    </div> <!-- col -->
    <div class="col-md-6">
      <div class="jumbotron tile">
        <h1>Calculator</h1>
        <p>Written in Javascript</p>
	<p class="text-center">
	  <%= link_to 'View on GitHub', "https://github.com/simeonge/cse3901lab4/tree/master/calculator", class: "btn btn-lg btn-info", type: "button", data: {no_turbolink: true}, target: "_blank" %>
	  <a type="button" class="btn btn-lg btn-info" id="calcOverlay">Use</a>
	</p>
      </div>
    </div> <!-- col -->
    <div class="coverlay"></div>
    <div class="cmodal">
      <div id="grp">
      <br>
      <h1>Calculator</h1>
      <div>
	<input readonly="readonly" size="16" id="in" />
        <br>
	<br>
	<table>
	  <tr>
	    <td><button type="button" id="mc" name="mem">MC</button></td>
	    <td><button type="button" id="mr" name="mem">MR</button></td>
	    <td id="ind"><button type="button" id="ms" name="mem">MS</button></td>
	    <td><button type="button" id="m+" name="mem">M+</button></td>
	    <td><button type="button" id="m-" name="mem">M-</button></td>
	  </tr>
	  <tr>
	    <td><button type="button" id="7" name="num">7</button></td>
	    <td><button type="button" id="8" name="num">8</button></td>
	    <td><button type="button" id="9" name="num">9</button></td>
	    <td><button type="button" id="/" name="op">/</button></td>
	    <td><button type="button" id="c" name="clr">C</button></td>
	  </tr>
	  <tr>
	    <td><button type="button" id="4" name="num">4</button></td>
	    <td><button type="button" id="5" name="num">5</button></td>
	    <td><button type="button" id="6" name="num">6</button></td>
	    <td><button type="button" id="*" name="op">*</button></td>
	    <td><button type="button" id="ce" name="clr">CE</button></td>
	  </tr>
	  <tr>
	    <td><button type="button" id="1" name="num">1</button></td>
	    <td><button type="button" id="2" name="num">2</button></td>
	    <td><button type="button" id="3" name="num">3</button></td>
	    <td><button type="button" id="-" name="op">-</button></td>
	    <td rowspan="2"><button type="button" id="ent">=</button></td>
	  </tr>
	  <tr>
	    <td colspan="2"><button type="button" name="num" id="nil">0</button></td>
	    <td><button type="button" id=".">.</button></td>
	    <td><button type="button" id="+" name="op">+</button></td>
	  </tr>
	</table>
      </div>
    </div>
  </div> <!-- row -->
</div></div>   

<div class="container" id="contact">
  <h2 class="contrast">Contact me</h2>
</div>
<hr />

<div class="container">
  <div class="jumbotron footer">
    <footer>
      
      <div class="container">
	<p>Feel free to drop me an email or download my resume. Find me on GitHub, Stack Overflow Careers, and LinkedIn.</p>
	<br />
	<p class="text-center">
	<a href="mailto:s.georgiev.27@gmail.com" class="ftrcns" target="_blank"><img src="/assets/email64px.png" /></a>
	<a href="https://drive.google.com/file/d/0B-e1i0v_f2MYZ1dQcm5HSU90Tlk/view" class="ftrcns" target="_blank"><img src="/assets/resume64.png" /></a>
	<a href="https://github.com/simeonge" class="ftrcns" target="_blank"><img src="/assets/GitHub-Mark-64px.png" /></a>
	<a href="https://careers.stackoverflow.com/simeongeorgiev" class="ftrcns" target="_blank"><img src="/assets/careers-icon64px.png" /></a>
	<a href="https://www.linkedin.com/pub/simeon-georgiev/5a/688/a53/" class="ftrcns" target="_blank"><img src="/assets/InBug-60px-R.png" /></a>
	</p>
      </div>
    </footer>
  </div>
</div>

<hr />
<div class="container">
  <p class="text-center attributions contrast">Developed by Simeon Georgiev. <a href="https://github.com/simeonge/simgorapps" target="_blank">View GitHub repo of this site.</a>
  </p>
</div>
<div class="jumbotron spc"></div>
<div class="jumbotron spc"></div>

<%= javascript_include_tag 'calculator' %>
