<div class="container">
  <div class="jumbotron">
    <h1>Sudoku Solver</h1>
    <h2>Sudoku Solver written in Ruby</h2>
    <br>
    <p>This class project is written in Ruby and implements a solver for the Sudoku puzzle using the brute-force algorithm. Please view the Github repository for documentation and source code.</p>
    <p class="text-center">
      <%= link_to 'View source', "https://github.com/simeonge", class: "btn btn-lg btn-info", type: "button", data: {no_turbolink: true}, target: "_blank" %>
      <a type="button" class="btn btn-lg btn-info" disabled="true">Demo</a>
    </p>
  </div>
</div>
<div class="container">
  <h2 class="text-center">Enter sudoku puzzle</h2>
  <form accept-charset="UTF-8" action="/portfolio/sudoku" data-remote="true" method="post" id="sform">
  <table class="table table-bordered">
    <tbody>
      <tr>
	<td class="tb lb"><div><input maxlength="1" /></div></td>
	<td class="tb"><div><input maxlength="1" /></div></td>
	<td class="tb rb"><div><input maxlength="1" /></div></td>
	<td class="tb"><div><input maxlength="1" /></div></td>
	<td class="tb"><div><input maxlength="1" /></div></td>
	<td class="tb rb"><div><input maxlength="1" /></div></td>
	<td class="tb"><div><input maxlength="1" /></div></td>
	<td class="tb"><div><input maxlength="1" /></div></td>
	<td class="tb rb"><div><input maxlength="1" /></div></td>
      </tr>
      <tr>
	<td class="lb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
      </tr>
      <tr>
	<td class="lb bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="bb rb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="bb rb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="bb rb"><div><input maxlength="1" /></div></td>
      </tr>
      <tr>
	<td class="lb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
      </tr>
      <tr>
	<td class="lb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
      </tr>
      <tr>
	<td class="lb bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="rb bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="rb bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="rb bb"><div><input maxlength="1" /></div></td>
      </tr>
      <tr>
	<td class="lb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
      </tr>
      <tr>
	<td class="lb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td><div><input maxlength="1" /></div></td>
	<td class="rb"><div><input maxlength="1" /></div></td>
      </tr>
      <tr>
	<td class="lb bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="rb bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="rb bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="bb"><div><input maxlength="1" /></div></td>
	<td class="rb bb"><div><input maxlength="1" /></div></td>
      </tr>
    </tbody>
  </table>
  <p class="text-center">
    <a type="submit" id="slv" class="btn btn-lg btn-success">Solve!</a>
    <a type="button" id="pop" class="btn btn-lg btn-warning">Populate</a>
  </p>
  </form>
  <p id="sol" class="text-center">
    <%= @solution %>
  </p>
  
  <%= form_tag do %>
    <p>
      <%= text_area_tag :puzzle %>
    </p>
  
    <p>
      <%= submit_tag "Solve" %>
    </p>
  <% end %>
  <!-- <textarea placeholder="Enter Sudoku puzzle."></textarea>
  <a type="button" class="btn btn-lg btn-primary">Submit</a> -->
</div>
